.popup__button {
  background-color: #000;
  color: #fff;
  width: 358px;
  min-height: 50px;
  border: none;
  border-radius: 2px;
  transition: opacity .3s linear;
  margin-top: 45px;
}

.popup__button:hover {
  opacity: .8;
  cursor: pointer;
}

@media screen and (max-width: 740px) {
  .popup__button {
    width: 238px;
    min-height: 46px;
  }
}
