.card__description {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 25px 15px 30px 21px;
  margin: 0;
  width: 100%;
  box-sizing: border-box;
}
