.sign__button {
  background: none;
  border: none;
  color: white;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  margin: 15px 0 0;
  opacity: 1;
  transition: opacity 0.3s linear;
}

.sign__button:hover {
  opacity: 0.6;
}
