.popup__container {
  position: relative;
  max-width: 430px;
  width: 100%;
  background-color: #fff;
  border-radius: 10px;
  padding: 34px 36px 36px;
  box-sizing: border-box;
  margin-top: 200px;
  margin: 200px auto 0;
}

@media screen and (max-width: 500px) {
  .popup__container {
    margin-top: 120px;
    max-width: 282px;
    padding: 25px 22px;
  }
}
